@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(../../fonts/Avenir-Book.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(../../fonts/Avenir-Black.woff) format('woff');
  font-weight: bold;
}

body {
  background: #fafafa !important;
  overflow-x: hidden;
  font-family: 'Avenir';
}

p,
span,
input,
button,
label {
  font-size: 16px;
  line-height: 1.9;
  color: #6b6764;
}

:global p {
  font-size: 16px;
}

:global a {
  color: #6b6764 !important;
}

p.small,
p.small p {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #6b6764;
  line-height: 1.4;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

.fade-out {
  animation: fadeOut 0.8s ease forwards;
}

.fade-in-from-top {
  animation: fadeInFromTop 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}

@media only screen and (max-width: 1000px) {
  p,
  span,
  input,
  button,
  label {
    font-size: 11px;
  }
}
